.container {
  background: linear-gradient(135deg, #363535 40%, #c9225a 100%);
  display: flex;
 overflow: hidden;
  height: 90vh;
  flex-direction: row;
}

.characterContainer {
  display: flex;
  flex: 1;
 overflow: hidden;

  text-align: center;
  flex-direction: row;
  overflow: hidden;
}
.flexItemCent {
  
  flex: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexItem {
  color: white;
  text-align: start;
  flex: 1;
  display: flex;
  flex-direction: column;   
}
.flexItem_chats {
  color: white;
  text-align: start;
  flex: 1;
  display: flex;
  flex-direction: column;   
}
.convo {
  cursor: pointer;
  margin: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px
}


.selectedConvo {
  color:#272727;
  border: 1px solid #c51492;
  background-color: rgba(255, 255, 255, 0.888);
}
 

.proPic_sm {
  border-radius: 50%;
  width: 50px;
  object-position: top;
  object-fit: cover;
  height: 50px
}
.proPic {
  border-radius: 50%;
  width: 75px;
  object-position: top;
  object-fit: cover;
  height: 75px
}

.characterImage {
height: 450px;
  width:100%;
 object-fit: cover;
top: 0px;
  align-self: start;
 
   
  margin: 0;
}


.delete {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f91d;
  overflow: hidden;

}

.chatBox {
  height: 80%;
  overflow-y: auto;
  padding: 15px;
   
  width: 100%;
  display: flex;
  flex-direction:column;
 
 
}

.userMessage {
  text-align: start;
  color:white;
 width:fit-content;
 display: flex;
 align-self:end ;
  font-weight:700;
  background-color: #272727;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.aiMessage {
  font-weight:700;
  text-align: start;
  display: flex;
  align-self: start;
  background-color: #e9ecef;
  padding: 10px;
  max-width: 70%;
  border-radius: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.chatInput {
 
  
 width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
.inputCont{
  display:flex;
 padding: 15px;
  width: 100%;
  justify-content: center;

}
.sendButton {
  
  padding: 10px 20px;
  border: none;
  background-color: #c51492;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.flex {
  display: flex;
  justify-content: space-between ;
 
  width: 100%;
  padding: 3px;
}


.flex button {
 position: relative;
 top: -9px;
 right: 5px;
  border: 0px;
  background-color: rgba(236, 236, 236, 0.86);
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}
.flex button:hover {
  
  border: 0px;
  transition: .3s ease-in-out;
  border: 1px solid rgba(255, 0, 0, 0.629);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.sendButton:hover {
  background-color: #e80daa
}


.block {
  background-color: hsla(0, 0%, 15%, 0.566);
  color: white;
  display:flex;
  padding: 3px 20px;
 top: 0px;
   width: 100%;
  font-size: larger;
  font-weight: 700;
  align-items: center;
  column-gap: 15px;
  z-index: 9333399;
  position: sticky;

  
}

@media (max-width: 1024px) {
  .flexItem {
    display:none
  }
}
 
@media (max-width: 764px) {
  .flexItem_chats {
    display:none
  }

  .chatBox {
    
    height: 75%;
    overflow-y: auto;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction:column;
   
  
  }
  
  .chatInput {
    width:100%;
     
    
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     font-size: 16px;
   }
   
}
 