 
 
@import '@fontsource/poetsen-one'; 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #202020;
    position: sticky;
    top: 0;
    z-index: 100000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .premiumBtn {
    background: linear-gradient(145deg, #f0b002, #ffcc33, #f5b700);
    background-size: 200% 200%;
    border: 1px solid  rgb(252, 190, 5);
    color: #fff;
  
    padding: 10px 25px;
    border-radius: 25px;
    box-shadow: 0 5px 15px  rgba(228, 180, 5, 0.62);
    text-align: center;
    cursor: pointer;
  
  }

  .btnPro {
    background-color: rgb(209, 11, 179);;
    padding: 10px 25px;
    color: white;
    border: 1px solid rgb(209, 11, 179);;
    
    border-radius: 25px;
    position: relative;
     
    cursor: pointer;
  }

  .btnPro:hover {
    border: 1px solid white;
    transition: .3s ease-in-out;
    
    background-color: rgb(250, 11, 214);
    box-shadow: 0 5px 15px  rgba(255, 238, 255, 0.62);
  }
  .logo {
    display: flex;
    font-size: 25px;
    margin-left: 10px;
    font-family: "Poetsen One", sans-serif;
    align-items: center;
  }

  
  
  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li {
    margin-left: 20px;
    cursor: pointer;
    color: white; /* Explicitly set white */
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  
  .nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
  
    font-weight: 500;
 
  }
  
  .nav ul li:hover {
    
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  

  @media (max-width: 764px) {
    .nav ul {
      display: none;
    }
  } 