.sidebar {
    width: 250px;
    padding: 20px;
     background-color: #202020;
     color:white;
    border-right: 1px solid #ddd;
  }
 
  .options {
    padding: 10px;
    border: 2px solid white;
    border-radius: 18px;
    margin: 8px;
    cursor: pointer;
    font-size: 21px;
  
  }

  .active {
    border-bottom: 1px solid rgb(209, 11, 179);;
    color: rgb(209, 11, 179);;
  }

  .options_register {
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    margin: 8px;
    cursor: pointer;
    background-color: rgb(209, 11, 179);;
    font-size: 21px;
  
  }


   
  .options:hover {
    color: rgb(250, 11, 214);
    transition: .3s ease-in-out;
    
 
    box-shadow: 0 5px 15px  rgba(255, 238, 255, 0.62);
  }


  @media (max-width: 1024px) {
   
    .sidebar {
    display: none;
    }
  }