.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
}

.googleButton {
  background-color: #f3f3f3;
  color: rgb(61, 61, 61);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  column-gap: 15px;
}

.googleIcon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.googleButton:hover {
  background-color: #ffffff;
}



.modal {
  background: #333; /* Dark gray background */
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; /* Increased width for side-by-side layout */
  width: 100%;
  position: relative;
  color: white; /* White text color */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.modalContent {
  display: flex;
  align-items: center;
}

.image {
  max-width: 50%;
  margin-right: 20px;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #555;
  color: white;
}

.or {
  justify-content: center;
  text-align: center;
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}


.dash {
  width: 100%;
  height: 1px; /* Adjust height as needed */
  background: linear-gradient(to right, white, transparent);
}
.dash_r {
  width: 100%;
  height: 1px; /* Adjust height as needed */
  background: linear-gradient(to left, white, transparent);
}


.button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  background-color: magenta; /* Magenta button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footerContent {
  font-size: 14px;
}

.footerLinks a {
  color: magenta; /* Magenta link color */
  text-decoration: none;
}


@media (max-width:764px) {
  .image {
    display: none;

  }  
  .title {
    text-align: start;
    margin-bottom: 20px;
  }
  .form {
    width: 100%
  }
}